3D_Consistent_Robust_Segmentation_of_Cardiac_Images.pdf
32*32_300ep_bincross
64*64_smallseg_10ep_bincross
ACDC_dataset
Andreopoulos-Tsotsos2008.pdf
Cardiac_MRI_dataset
CIRCIMAGING.117.005614.pdf
Nektarios and Hendrik project.pdf
Network Architecture
Physiological Implications of Myocardial Scar Structure.pdf
accuracy_values.png
results.png
Sunnybrook Cardiac Data
Group project.docx
__pycache__
test.h5
Results